@charset "utf-8";

v\:* {
    Behavior: url(#default#VML);
}

/* CSS Document */
body,div,dl,dt,dd,ul,li,p,em,b,span,img,table,tr,td,th,form,i,h1,h2,h3,h4{border:0;margin:0;padding:0;}
body{font-family:Verdana, Geneva, sans-serif;font-size:12px;color:#313131;}
ul,dl,li,dt,dd{ list-style:none;}
img,input{vertical-align:middle;}
a{color:#7d7d7d;text-decoration:none;}
a:hover{color:#ff0000;text-decoration:underline;}
html,body{height:100%;}


input {outline: none;}

/* apply style */
.center{text-align:center;}
.left{float:left;}
.right{float:right;}
.clear{clear:both;padding:0;margin:0;border:0;height:0;}         /* 清除浮动 */
.overhide{overflow:hidden;white-space:nowrap;}
.bg_red{background:#e2bcd6;}
.padt10{padding-top:10px;}
.padlr10{padding:0 10px;}
.padlr20{padding:0 20px;}
.padr5{padding:0 5px;}
.padr10{padding-right:10px;}
.padr5{padding-right:5px;}
.padl5{padding-left:5px;}
.mart10{margin-top:10px;}
.dis{display:block;}
.undis{display:none;}
.pos_rel{position:relative;}

/* font style */
h1{font-size:18px;}
h2{font-size:16px;}
h3{font-size:14px;}
h4{font-size:12px;}
i,em{font-style:normal;}
.f_red{color:#e45991;}
.f_white{color:#fff;}
.f_black{color:#000;}

/* link style */
.black a{color:#000;text-decoration:none;}
.black a:hover{color:#ff0000;text-decoration:underline;}
.red a{color:#ff0000;text-decoration:none;}
.red a:hover{color:#ff0000;text-decoration:none;}
.gray a{color:#959595;}
.gray a:hover{color:#ff0000;}

/* input style */
.text_01{border:1px solid #c3c3c3;height:19px;line-height:19px;padding:0;padding-left:2px;margin:0;}
.text_02{border:1px solid #97b3d4;height:19px;line-height:19px;padding:0;padding-left:2px;margin:0;}
.wth_80{width:80px;}
.wth500{width:500px;}



a {
	color: #333;
}
a :link{
	color: #333;
}
a:active{color:#FF6600}
a:hover {
	color: #06c;
}


.autocomplete {
    position: relative;
    line-height: 20px;
    z-index: 200000;
    margin-left: 26px;
}



#cbxTitle {
-webkit-user-select: none;
-moz-user-select:none;
cursor: default;
}


#main {
    position:relative;
    width:100%;
}

#sidebar {
}

.menuControl
{
	position:absolute;
	background-color:white;
	border:1px solid #7AA3E8;
    font-size: 12px;
    margin: 0px;
    line-height: 18px;
    padding: 4px 4px;
    -webkit-box-shadow: rgb(168, 183, 210) 2px 2px 8px;
    font-family: "Tahoma","宋体", Arial;
}
.menuLiNormal
{
	padding:3px 18px;
	list-style-type:none;
    cursor: pointer;
}

.menuLiLine
{
    height: 1px;
	padding:0px 10px;
	list-style-type:none;
	cursor:default;
    background-color: #E6ECF4;
}

.menuLiMouseOver
{
	padding:3px 18px;
	color:#FFF;
	background:#67A;
	list-style-type:none;
	cursor:pointer;
}


h3.no1 {
	background: url(images/trans_icons.png) no-repeat 2px 4px;
	cursor: pointer;
}
h3.no2 {
	background: url(images/trans_icons.png) no-repeat 2px -22px;
	cursor: pointer;
}


.fonts {
	font-size:16px;
}
.serch_fonts {
	width:100px;
	height:30px;
	font-size:14px;
	font-weight:bold;
}




#nc{height:100px;overflow:visible;width:100%;border-bottom: 1px solid #d4d4d4;background: #2b3d6b}
#nc .map_link{overflow:hidden;right:0;position: absolute;}
#nc .map_link span{padding-right:25px;height:26px;line-height:26px;overflow:hidden;}
#nc .map_logo{float:left;padding:0 0 0 25px;}



#cc {
    margin-right: 0px;border: #9acd32 2px;
}

.grid{
    width: 100%;
}

.grid td>div{
    width: 97%;
    margin:auto;
    position: relative;

}

.grid td:first-child>div{
    margin-right: 3%;
}

.grid td:last-child>div{
    margin-left: 3%;
}

.descriptiontitle{
    color:#ffffff;
    font-size:14px;
    font-weight:bold;
    padding:10px;
    text-align:center;
    background-color: #3B5085;
    border-radius: 3px 3px 0 0;
}

.descriptionbox{
    position: absolute;
    z-index: 1;
    background-color: cornsilk;
    opacity: 0.8;
    border-top: none;
    border-bottom:solid thin silver;
    border-right:solid thin silver;
    border-left:solid thin silver;
    /*width: 100%;*/
    word-wrap:break-word;
    display: none;
    padding: 8px;
}

.chartbox{
    border-left: solid thin silver;
    border-right: solid thin silver;
    border-bottom: solid thin silver;
    border-radius: 0 0 3px 3px;
    background-color: #ffffff;
}


































/* 地图样式 */
.map_header{height:118px;overflow:visible;width:100%;}
.map_header .map_link{text-align:right;width:100%;overflow:hidden;}
.map_header .map_link span{padding-right:25px;height:26px;line-height:26px;overflow:hidden;}
.map_header .mh_main{clear:both;overflow:visible;height:110px;}
.map_header .map_logo{float:left;padding:0 0 0 25px;}
.map_header .map_search{width:720px;overflow:visible;height:110px;position:relative;float:right;padding-right:25px;}
.map_header .map_search .mps_mnu{height:28px;line-height:28px;overflow:hidden;list-style:none;font-family:"微软雅黑";font-size:15px;position:absolute;top:0;left:30px;}
.map_header .map_search .mps_mnu li{float:left;width:90px;height:29px;margin-right:4px;overflow:hidden;cursor:pointer;font-weight:bold;text-align:center;}
.map_header .map_search .mps_mnu li.off{background:url(../images/map/bg_map_menu_off.gif) no-repeat;}
.map_header .map_search .mps_mnu li.on{background:url(../images/map/bg_map_menu_on.gif) no-repeat;}
.map_header .map_search .mps_box{padding-top:28px;overflow:visible;height:44px;}
.map_header .map_search .mps_box .mps_put{background:url(../images/map/bg_mps_box.gif) no-repeat;width:595px;overflow:visible;height:36px;float:left;padding:4px;}
.map_header .map_search .mps_box .mps_btn{float:right;padding-top:5px;}
.map_header .map_search .mps_box .mps_text_01{background:url(../images/map/bg_input_01.gif) no-repeat;width:595px;height:36px;overflow:visible;position:relative;}
.mps_text_02{background:url(../images/map/bg_input_02.gif) no-repeat;width:279px;height:36px;overflow:visible;position:relative;float:left;}

.map_header .map_search .mps_box .mps_down{position:absolute;top:12px;right:12px;width:10px;height:10px;overflow:hidden;cursor:pointer;}
.mp_text_01{padding:5px;height:21px;overflow:hidden;width:390px;}
.mp_text_01 input{width:390px;height:25px;line-height:25px;overflow:hidden;padding:0;margin:0;border:0;}
.mp_text_02{width:269px;padding:5px;height:21px;overflow:hidden;}
.mp_text_02 input{width:269px;padding:0;margin:0;height:21px;overflow:hidden;margin:0;border:0;}
.mp_change{float:left;padding:7px 8px;width:21px;height:22px;cursor:pointer;}




.map_box{width:100%;overflow:hidden;overflow:hidden;position:absolute;top:118px;bottom:0;}
.map_box .mb_left{width:300px;overflow:hidden;height:100%;position:absolute;top:0;left:0;background:#fff;z-index:100;}
.map_box .mb_right{position:relative;z-index:0;overflow:hidden;}
.map_box .mb_sidebar{position:absolute;width:15px;height:36px;overflow:hidden;z-index:110;cursor:pointer;}
.map_box .mb_show{display:none;left:0;}
.map_box .mb_hide{display:block;left:300px;}
.mb_main{overflow:hidden; padding-left: 300px;}
.mb_main img{width:100%;height:100%;}
.mb_line{background:url(../images/map/bg_side_line.gif) repeat-x;overflow:hidden;height:32px;line-height:32px;text-align:right;}



.dropDownList{overflow:visible;position:relative;}
.drop_01{width:80px;z-index:10;float:left;height:32px;-webkit-user-select: none;-moz-user-select:none;}
.drop_01 span{display:block;width:80px;height:32px;line-height:32px;cursor:pointer;text-indent:15px;color:#333;}
.drop_01 span:active{display:block;width:80px;height:32px;line-height:32px;cursor:pointer;text-indent:15px;color:#333;background:url(../images/map/btnbg28.png) repeat-x 0 2px;}
.drop_01 div.dropdown{width:80px;height:32px;display:block;float:left;}
.drop_01 span.over{}
.drop_01 ul{background:#eee;width:80px;display:none;position:absolute;left:0;top:32px;z-index:11;zoom:1;}
.drop_01 ul li{height:20px;width:100%;padding:3px 0;text-indent:12px;cursor:default;line-height:20px;color:#333;}
.drop_01 ul li.over{background:#ccc;}
.drop_01 ul.show{display:block;}
.drop_01 select{display:none;}

.sd_link{float:right;overflow:hidden;width:430px;padding-top:4px;height:24px;overflow:hidden;padding-right:0px;}
.sd_link .sr_list{float:left;height:24px;line-height:24px;margin:0 3px;-webkit-user-select: none;-moz-user-select:none;}
.sd_link .sr_list span{display:block;height:24px;padding-right:10px;}
.sd_link .sr_list span b{height:24px;float:left;padding:3px 5px 0 0;overflow:hidden;display:block;}
.sd_link .srl_00{padding-left:10px;width:80px;cursor:pointer;}
.sd_link .focus{padding-left:10px;width:80px;cursor:pointer;background:url(../images/map/btnbg24.png) repeat-x 0 0px;}
.sd_link .srl_00:active{padding-left:10px;width:80px;cursor:pointer;background:url(../images/map/btnbg24.png) repeat-x 0 0px;}
.sd_link .srl_00 span b{background:url(../images/map/sidebar_00.gif) no-repeat 0 5px;width:13px;}

.sd_link .srl_01{padding-left:10px;width:80px;cursor:pointer;}
.sd_link .srl_01:active{padding-left:10px;width:80px;cursor:pointer;background:url(../images/map/btnbg24.png) repeat-x 0 0px;}
.sd_link .srl_01 span b{background:url(../images/map/sidebar_01.gif) no-repeat 0 5px;width:13px;}
.sd_link .srl_02{padding-left:10px;width:60px;cursor:pointer;}
.sd_link .srl_02:active{padding-left:10px;width:60px;cursor:pointer;background:url(../images/map/btnbg24.png) repeat-x 0 0px;}
.sd_link .srl_02 span b{background:url(../images/map/sidebar_02.gif) no-repeat 0 5px;width:16px;}
.sd_link .srl_03{padding-left:10px;width:70px;cursor:pointer;}
.sd_link .srl_03:active{padding-left:10px;width:70px;cursor:pointer;background:url(../images/map/btnbg24.png) repeat-x 0 0px;}
.sd_link .srl_03 span b{background:url(../images/map/sidebar_03.gif) no-repeat 0 5px;width:13px;}
.sd_link .srl_04{padding-left:10px;width:60px;cursor:pointer;}
.sd_link .srl_04:active{padding-left:10px;width:60px;cursor:pointer;background:url(../images/map/btnbg24.png) repeat-x 0 0px;}
.sd_link .srl_04 span b{background:url(../images/map/sidebar_04.gif) no-repeat 0 5px;width:13px;}
.sd_link .srl_05{padding-left:10px;width:60px;cursor:pointer;}
.sd_link .srl_05:active{padding-left:10px;width:60px;cursor:pointer;background:url(../images/map/btnbg24.png) repeat-x 0 0px;}
.sd_link .srl_05 span b{background:url(../images/map/sidebar_05.gif) no-repeat 0 5px;width:13px;}
.sd_link .on{background:url(../images/map/tools_img.gif) no-repeat left top;}
.sd_link .on span{background:url(../images/map/tools_img.gif) no-repeat right top;}

.ib_weather{text-align:center;padding:15px 0;overflow:hidden;}

.recommend{background:url(../images/map/bg_recom.gif) no-repeat;width:281px;height:136px;overflow:hidden;margin:0 auto;position:relative;z-index:0;}
.recommend .rm_top{height:30px;color:#00a0e9;font-size:14px;font-weight:bold;line-height:30px;overflow:hidden;padding-left:18px;}
.recommend .rm_bott{padding:18px 0 18px 5px;overflow:hidden;height:72px;position:relative;}
#pic_recommend{height:72px;overflow:hidden;}
#pic_recommend .viewport{height:72px;width:248px;overflow:hidden;position:relative;z-index:0;}
#pic_recommend .buttons{position:absolute;top:40px;right:5px;cursor:pointer;}
#pic_recommend .overview{list-style: none;position:absolute;left:0;top:0;}
#pic_recommend .overview li{float:left;width:62px;color:#313131;height:72px;text-align:center;}

.ib_banner{background:url(../images/map/bg_banner.gif) no-repeat;width:281px;height:70px;margin:20px auto;}
.ib_banner img{width:279px;height:68px;padding:1px;}
.recomm_icon{padding-top:20px;overflow:hidden;}
.ul_reicon{list-style:none;overflow:hidden;width:280px;margin-left:10px;}
.ul_reicon li{float:left;width:140px;height:32px;overflow:hidden;line-height:32px;}
.ul_reicon li a{display:block;width:100%;height:100%;}
.ul_reicon li.type_01{background:url(../images/map/bg_icon_list.gif) no-repeat 1px 0;}
.ul_reicon li.type_02{background:url(../images/map/bg_icon_list.gif) no-repeat 0 0;}
.ul_reicon li b{width:36px;height:32px;display:block;float:left;background:url(../images/map/icon_map.gif) no-repeat}
.ul_reicon li.icon_01 b{background-position:9px 8px;}
.ul_reicon li.icon_02 b{background-position:-190px 8px;}
.ul_reicon li.icon_03 b{background-position:9px -26px;}
.ul_reicon li.icon_04 b{background-position:-190px -26px;}
.ul_reicon li.icon_05 b{background-position:9px -60px;}
.ul_reicon li.icon_06 b{background-position:-190px -60px;}
.ul_reicon li.icon_07 b{background-position:9px -94px;}
.ul_reicon li.icon_08 b{background-position:-190px -94px;}
.ul_reicon li.icon_09 b{background-position:9px -128px;}
.ul_reicon li.icon_10 b{background-position:-190px -128px;}
.ul_reicon li.icon_11 b{background-position:9px -162px;}
.ul_reicon li.icon_12 b{background-position:-190px -162px;}
.ul_reicon li.icon_13 b{background-position:9px -204px;}
.ul_reicon li.icon_14 b{background-position:-190px -204px;}
.ul_reicon li.icon_15 b{background-position:9px -240px;}
.ul_reicon li.icon_16 b{background-position:-190px -240px;}
.ul_reicon li.icon_17 b{background-position:9px -280px;}
.ul_reicon li.icon_18 b{background-position:-190px -280px;}

.tips_01{background:url(../images/map/bg_tips_02.png) repeat;width:210px;overflow:hidden;height:auto;border:1px solid #adadad;position:absolute;z-index:200;}
.tips_01 .tips_top{height:33px; background:url(../images/map/bg_tips_02.png) repeat-x;overflow:hidden;line-height:33px;padding-left:18px;color:#00a0e9;font-size:14px;font-weight:bold;}


.search_title{height:40px;line-height:40px;padding:0px 10px;border-bottom:1px solid #e2e2e2;overflow:hidden;}
.search_title a{color:#00a0e9;}
.search_title a:hover{color:#ff0000;}
.padlr5{padding:0 5px;}
.result_search{overflow:auto; padding:0;position:relative;}
.result_search .list{height:auto;overflow:hidden;margin:0;padding:10px 10px 6px;clear:both;border-bottom:1px solid #E5EBF3; border-top:1px solid white; cursor: pointer;}
.result_search .list .list_num{float:left;width:22px;line-height:24px;height:31px;color:#fff;font-weight:bold;line-height:31px;text-align:center;}
.result_search .on{background: #F3F7FD;}
.result_search .clicked{border-bottom:1px solid #96AECE; border-top:1px solid #96AECE; background:#EBF2FC;}

.result_search .on .list_num{}
.result_search .list .list_text{margin-left:40px;width:220px;color:#313131;}
.result_search .list .list_text h2{font-size:16px;font-weight:normal; color:#0037A8; word-break: break-all; line-height: 21px;}
.result_search .list .list_text p{padding-top: 5px;}
.result_search .list .list_text span{color:#004986;}
.result_search .list .list_text span:hover{color:#ff0000;}

.btn_big{position:absolute;width:70px;height:320px;overflow:hidden;top:40px;left:320px;z-index:300;}
.busline{height:36px;line-height:36px;overflow:hidden;padding-left:15px;color:#313131;}
.busline .f_blue{color:#003567;}
.bus_main{overflow:auto;border-top:1px solid #e2e2e2;border-bottom:1px solid #e2e2e2;}
.bus_show{padding:6px 20px;overflow:hidden; padding-left: 10px}
.bus_show .bus_menu{height:26px;line-height:26px;overflow:hidden;list-style:none;border-right:1px solid #d4d4d4;width:172px;border-left:1px solid #d4d4d4;margin:0 auto;}
.bus_show .bus_menu li{float:left;width:86px;height:29px;overflow:hidden;cursor:pointer;text-align:center;color:#003567;}
.bus_show .bus_menu li.off{background:url(../images/map/bg_bus_menu.gif) no-repeat right 0;}
.bus_show .bus_menu li.on{background:url(../images/map/bg_bus_menu.gif) no-repeat 0 0;font-weight:bold;}
.bus_show .bus_result{width:260px;margin:0 auto;overflow:hidden;color:#003567;}
.bus_show .bus_result .bs_top{height:30px;line-height:30px;overflow:hidden;background:#d9f1fc;margin-top:10px;}
.bus_show .bus_result .bs_start{background:url(../images/map/icon_start.gif) no-repeat 0 7px;height:30px;line-height:30px;border-top:1px solid #e5eaf0;margin-top:10px;padding-left:25px;}
.bus_show .bus_result .bs_start .bs_title{float:left;font-weight:bold;width:160px;overflow:hidden;height:30px;}
.bus_show .bus_result .bs_start .bs_check{float:right;}
.bus_show .bus_result .bs_end{background:url(../images/map/icon_end.gif) no-repeat 0 7px;height:30px;line-height:30px;margin-top:10px;padding-left:25px;font-weight:bold;}
.bus_show .bus_result .listbox{padding:10px 0;overflow:hidden;}
.bus_show .bus_result .listbox .list{border-top:1px solid #D5DBE7;height:auto;cursor: pointer;}
.bus_show .bus_result .listbox .list .list_top{height:auto;line-height:29px;overflow:hidden;padding:0 5px;}
.bus_show .bus_result .listbox .list .index {float:left;overflow:hidden;padding:0 5px;}
.bus_show .bus_result .listbox .list .list_title{float:left;width:85%;overflow:hidden;height:auto;}
.bus_show .bus_result .listbox .list .list_title b{color:#538DBE}
.bus_show .bus_result .listbox .on{background:#F5F7FC;}
.bus_show .bus_result .listbox .clicked{background:#d9f1fc;}
.bus_show .bus_result .listbox .list .list_show{float:right;cursor:pointer; overflow:hidden;width:19.9%;text-align:right;}
.bus_show .bus_result .listbox .list .list_bott{display:none;line-height:25px;overflow:hidden;height:auto;}
.bus_show .bus_result .listbox .on .list_bott{display:block;}
.bus_show .bus_result .listbox .list .list_bott p{border-bottom:1px solid #e5eaf0;padding:0 15px;}
.bus_show .bus_result .listbox .list .list_bott .selected{background:#f1f2f2;}



.page{padding:5px 0;overflow:hidden;height:26px;clear:both;}
.page ul{list-style:none;overflow:hidden;margin:0 auto;width:100%;}
.page ul li{float:left;text-align:center;padding:0 1px;cursor: default;-webkit-user-select: none;-moz-user-select:none;}
.page ul li a{color:#005aa0;width:30px;overflow:hidden;height:26px;line-height:26px;border:1px solid #ccc;display:block;text-decoration:none;}
.page ul li a:hover{color:#ff6600;text-decoration:none;}
.page ul li.next a{background:url(../images/map/icon_next_off.gif) no-repeat 65px 7px;width:75px;}
.page ul li.next a:hover{background:url(../images/map/icon_next_on.gif) no-repeat 65px 7px;}
.page ul li.prev a{background:url(../images/map/icon_prev_off.gif) no-repeat 10px 7px;width:75px;}
.page ul li.prev a:hover{background:url(../images/map/icon_prev_on.gif) no-repeat 10px 7px;}
.page ul a.selected{width:32px;height:26px;line-height:26px;overflow:hidden;color:#ff6600;font-weight:bold;border: none;}

/** 业务共用样式**/
#sidebar .back{background:url(../images/map/tq_back.gif) no-repeat 0 10px;height:40px;text-indent:25px;display:block;color:#00a0e9;font-family:"微软雅黑";font-weight:bold;font-size:14px;width:80px;}
.sidebar .back:hover{color:#ff0000;text-decoration:none;}

/** 天气预报的样式  **/
.weatherbox{width:100%;overflow:hidden;}
.weatherbox .wb_top{height:40px;border-bottom:1px solid #e2e2e2;line-height:40px;overflow:hidden;padding:0 10px;}
.weatherbox .wb_top a.wb_back{background:url(../images/map/tq_back.gif) no-repeat 0 10px;height:40px;text-indent:25px;display:block;color:#00a0e9;font-family:"微软雅黑";font-weight:bold;font-size:14px;width:80px;}
.weatherbox .wb_top a.wb_back:hover{color:#ff0000;text-decoration:none;}
.weatherbox .wb_title{height:30px; line-height:30px;color:#00a0e9;font-family:"微软雅黑";font-weight:bold;font-size:14px;text-align:center;padding-top:15px;}
.weatherbox .wb_date{list-style:none;overflow:hidden;padding:10px 0 10px 30px;}
.weatherbox .wb_date li{float:left;width:72px;height:72px;overflow:hidden;background:url(../images/map/bg_tqline_off.gif) no-repeat;color:#00a0e9; font-weight:bold;font-size:30px;font-family:Arial, Helvetica, sans-serif;text-align:center;padding-right:14px;cursor:pointer;}
.weatherbox .wb_date li .date{height:50px;line-height:50px;}
.weatherbox .wb_date li .month{height:22px;line-height:22px;font-weight:normal;font-size:14px;}
.weatherbox .wb_date li.on{background:url(../images/map/bg_tqline_on.gif) no-repeat;color:#eb6100;}
.weatherbox .wb_details{list-style:none;overflow:hidden;width:239px;margin:0 auto;padding-top:10px;}
.weatherbox .wb_details li{height:70px;overflow:hidden;background:url(../images/map/bg_tq_off.gif) no-repeat;font-size:14px;color:#313131;padding:5px 0;cursor:pointer;}
.weatherbox .wb_details li .date{float:left;width:60px;line-height:70px;color:#313131;font-size:14px;text-align:center;overflow:hidden;}
.weatherbox .wb_details li .weather{width:115px;text-align:center;line-height:20px;padding:2px 0;overflow:hidden;float:left;}
.weatherbox .wb_details li .wd_more{width:60px;text-align:center;line-height:70px;float:right;overflow:hidden;}
.weatherbox .wb_details li a{color:#313131;}
.weatherbox .wb_details li.on{height:70px;overfslow:hidden;background:url(../images/map/bg_tq_on.gif) no-repeat;font-size:14px;}
.weatherbox .wb_details li p:hover{color:#ff0000;}

.channelInfoControl{display: none; position: absolute; width: 60px; right: 40px; left: auto; top: 76px; border:1px solid #c3c3c3; background-color:white; }
.channelInfoControl .title{display: block; padding-left: 7px; height: 20px; line-height: 20px; background: #D9F1FC; color: #4C4C4C; cursor: pointer;}
.channelInfoControl .content{display: block;}
.channelInfoControl ul.ctrl_menu{display: none;width: 100%; list-style: none;}
.channelInfoControl ul.ctrl_menu li{overflow: hidden; cursor: pointer; height: 26px; line-height: 26px; padding: 1px 0 1px 8px; border-bottom: 1px solid #EBEBEB;}
.channelInfoControl ul.ctrl_menu li.itemDisabled{color: #B2B2B2!important;}
.channelInfoControl ul.ctrl_menu li.on{background: #EBF2FC;}
.channelInfoControl ul.ctrl_menu li span.itemCheck{float: left; width:13px; height:11px; cursor: pointer; margin: 8px 3px 0 0; }
.channelInfoControl ul.ctrl_menu li span.itemCheck.on{background:url(../images/hover.png) no-repeat;}
.channelInfoControl ul.ctrl_menu li span.itemCheck.click{background:url(../images/selected.png) no-repeat;}
.channelInfoControl ul.ctrl_menu li span.icon{float: left; width:14px; height:14px; cursor: pointer; margin: 6px 3px 0 1px; }
.channelInfoControl ul.ctrl_menu li span.number{float: right; cursor: pointer; margin-right: 8px; }
.channelInfoControl .drop{display: block; height:9px; cursor: pointer; text-align: center;}
.channelInfoControl .drop img{width: 7px; height: 4px; position: relative; top: -3px; margin: 0 auto;}

.prompt{display: none; position: absolute; width: 130px; height:20px; border:1px solid #c3c3c3; background-color:white;}

.rangeSearch{position: relative; font-size: 12px;}
.rangeSearch .searchType{position: relative; top: -5px;  width: 280px; height: 18px; margin: 0 auto;}
.rangeSearch .searchType a{margin-left: 5px; color: #406593; }
.rangeSearch .toolsContainer{padding: 10px 20px 5px 20px;}
.rangeSearch .toolsContainer .title{width: 240px; height: 24px; margin: 0 auto;}
.rangeSearch .toolsContainer .title #rangeSearchName{width: 180px; height: 17px; line-height: 17px; margin: 0 auto;}
.rangeSearch .toolsContainer .title #rangeSearchButton{margin-left: 3px;}
.rangeSearch .toolsContainer .content{margin-top: 20px; }
.rangeSearch .toolsContainer .content .aroundRule{position: relative; margin: 0 auto; width: 250px; height: 8px; cursor: pointer;}
.rangeSearch .toolsContainer .content .aroundRule .ruleBg{position: absolute; background-image:url(../images/rule.png); width: 250px; height: 5px; background-position: 0 0;}
.rangeSearch .toolsContainer .content .aroundRule .ruleBar{position: absolute; background-image:url(../images/rule.png); width: 0px; height: 5px; background-position: 0 -20px;}
.rangeSearch .toolsContainer .content .aroundRule .ruleCursor{position: relative; background-image:url(../images/rule.png); width: 18px; height: 18px; top: -7px; margin-left: -8px; background-position: -0px -40px;}
.rangeSearch .toolsContainer .content .aroundRule .ruleCursorHover{background-position: -20px -40px;}
.rangeSearch .toolsContainer .content .scale{position: relative; margin: 0 auto; width: 250px; height: 8px;}
.rangeSearch .toolsContainer .content .scale span{position: absolute; border-left: 1px solid #999; height: 5px; font-size: 0}
.rangeSearch .toolsContainer .content .scale span.small{height: 5px;}
.rangeSearch .toolsContainer .content .scale span.tall{border-left: 2px solid #999; height: 7px;}
.rangeSearch .toolsContainer .content .scale span ins{position: absolute; left: 0; top: 5px; margin-left: -2.5px; font-size: 9px; color: #999; text-decoration: none; -webkit-text-size-adjust:none;}	
	
	



/*.tips_02{width:488px;height:auto;overflow:hidden;background:url(../images/bg_tips_03.png) no-repeat left bottom;position:absolute;z-index:200;padding-bottom:30px;}*/
.tips_02{width:385px;height:auto;overflow:hidden;position:absolute;z-index:200;padding-bottom:21px;}
.tips_02 .tips_top{height:30px;overflow:hidden;line-height:30px;padding-left:18px;color:#003567;font-size:14px;font-weight:bold; background:url(../images/bg_tips_line.gif) repeat-x;}
.tips_02 .tips_close{position:absolute;top:5px;left:365px;overflow:hidden;width:10px;height:15px;cursor:pointer;}
.tips_02 .tips_main{height:auto;width:383px;overflow:hidden;}
.tips_02 .tips_box{border:1px solid #c1c1c1;background:#fff;width:383px;}
.tips_02 .tips_jt{position:absolute;bottom:0px;left:0;}
.tips_02 .tips_main .tips_content{height:auto;line-height:24px;overflow:hidden;padding:15px 15px;color:#313131;}
.tips_02 .tips_main .tips_menu{width:384px;overflow:hidden;height:29px;background:url(../images/bg_tips_menu.gif) repeat-x;border-right:1px solid #c1c1c1;}
.tips_02 .tips_main .tips_menu li{float:left;width:127px;border-right:1px solid #d2d2d2;cursor:pointer;line-height:28px;padding-top:1px;}
.tips_02 .tips_main .tips_menu li.off{color:#313131;}
.tips_02 .tips_main .tips_menu li.on{color:#003567;background:#fff;border-top:1px solid #e5e5e5;height:28px;line-height:28px;padding-top:0;}
.tips_02 .tips_main .tips_menu li span{display:block;width:100%;height:29px;text-indent:50px;}
.tips_02 .tips_main .tips_menu li .tm_01{background:url(../images/icon_tips_01.gif) no-repeat 25px 6px;}
.tips_02 .tips_main .tips_menu li .tm_02{background:url(../images/icon_tips_02.gif) no-repeat 25px 6px;}
.tips_02 .tips_main .tips_menu li .tm_03{background:url(../images/icon_tips_03.gif) no-repeat 25px 6px;}
.tips_02 .tips_main .lineWrap{margin: 0 15px 0 15px; overflow: hidden;}
.tips_02 .tips_main .lineWrap div{background-color: #E5EBF3; height: 1px; overflow: hidden;}
.tips_02 .tips_main .tips_show{height:25px;overflow:hidden;line-height:25px;padding:15px 10px;}
.tips_02 .tips_main .tips_show a{color:#003567;}
.tips_02 .tips_main .tips_show a:hover{color:#ff0000;}
.tips_02 .tips_main .tips_show .tips_left{float:left;width:200px;}
.tips_02 .tips_main .tips_show .tips_left span{padding:0 5px;}
.tips_02 .tips_main .tips_show .tips_right{float:right;width:150px;overflow:hidden;}
.tips_02 .tips_main .tips_show .tips_right span{padding:0 1px;}

.text_03{padding:0 3px;margin:0;border:0;background:url(../images/bg_input_03.gif) no-repeat;width:87px;height:25px;line-height:25px;}

.imageSelect {
    background: red;
}

.eventli {
    padding-left: 10px;
    cursor: default;
}

.selectedLI {
    background: red;
}

